#profil {
  position: relative;
  height: 110vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-bottom: 2px solid var(--orange);
  border-top: 2px solid var(--orange);
}
.picture_container {
  width: 20%;
  height: 50vh;
  border-radius: 15px;
  box-shadow: var(--shadow);
  overflow: hidden;
  transition: 0.6s;
  transform: rotate(5deg);
}
.picture_container:hover {
  transform: rotate(-5deg);
}
.about_picture {
  background: url(../assets/img/moi.png) no-repeat center/cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
#profil p {
  margin: 0;
  padding: 1em;
  width: 50%;
  height: fit-content;
  /* font-family: candara, "verdana"; */
  text-align: justify;
  font-weight: lighter;
  font-size: 1.5em;
  line-height: 2.5em;
  border-right: 2px solid var(--orange);
  transition: 0.4s;
}
#profil p span {
  color: var(--orange);
  font-weight: bold;
}

/* Responsive */

@media screen and (max-width: 950px) {
  #profil p,
  #profil > a {
    font-size: 1.2em;
    text-align: justify;
  }
  #profil p {
    width: 90%;
  }
  #profil {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .picture_container {
    width: 50%;
    height: 30vh;
  }
  .blob,
  .blob_2 {
    width: 16em;
    height: 16em;
  }
  .lil_blob_2 {
    width: 10em;
    height: 10em;
  }
  #profil h2 {
    margin: 1em auto;
    position: sticky;
    top: 1em;
  }
}
@media screen and (max-width: 600px) {
  .picture_container {
    display: none;
  }
  #profil {
    height: auto;
  }
}
