#profil {
  height: 100vh;
  margin-top: 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.blob {
  border: 2px solid var(--yellow);
  position: absolute;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  opacity: 0.1;
  z-index: -1;
  animation: rotate 10s linear infinite;
}
.lil_blob {
  height: 5vw;
  width: 5vw;
  margin-left: 9%;
  margin-top: 9%;
  border: 2px solid var(--yellow);
  border-radius: 50%;
}
.blob_2 {
  border: 2px solid var(--yellow);
  position: absolute;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  opacity: 0.1;
  z-index: -1;
  animation: rotate_2 15s ease-in-out infinite;
}
.lil_blob_2 {
  height: 10vw;
  width: 10vw;
  border: 2px solid var(--yellow);
  border-radius: 50%;
}
.picture_container {
  width: 25%;
  height: 60vh;
  border-radius: 15px;
  box-shadow: var(--shadow);
  overflow: hidden;
  transition: 0.6s;
  transform: rotate(5deg);
}
.picture_container:hover {
  transform: rotate(-5deg);
}
.about_picture {
  /* background: url(../assets/img/myself.webp) no-repeat center/cover; */
  background: url(../assets/img/moi.png) no-repeat center/cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
#profil p {
  margin: 0;
  padding: 1em;
  width: 50%;
  height: 60%;
  font-family: candara, "verdana";
  text-align: center;
  font-weight: lighter;
  font-size: 1.5em;
  line-height: 2.5em;
  border-right: 2px solid var(--yellow);
  transition: 0.4s;
}
#profil p span {
  color: var(--yellow);
}

/* Responsive */

@media screen and (max-width: 950px) {
  #profil p,
  #profil > a {
    font-size: 1.2em;
    text-align: justify;
  }
  #profil p {
    width: 90%;
  }
  #profil {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .picture_container {
    width: 50%;
    height: 30vh;
  }
  .blob,
  .blob_2 {
    width: 16em;
    height: 16em;
  }
  .lil_blob_2 {
    width: 10em;
    height: 10em;
  }
  #profil h2 {
    margin: 1em auto;
  }
}
