#contact {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 3em;
  width: 100%;
  height: 100vh;
  background: url(../assets/img/macbook.webp) no-repeat center/cover;
  background-attachment: fixed;
}
#contact h2 {
  width: 100%;
  margin: 2% auto;
}

/* Insta card design */

.cards {
  position: relative;
  border-radius: 25px;
  height: 30em;
  width: 20em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  box-shadow: var(--shadow);
  transform: rotate(5deg);
  transition: 0.6s;
}
.cards a {
  color: var(--white);
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  padding: 0.5em;
  background: transparent;
  border: 2px solid var(--white);
  border-radius: 15px;
  transition: all 0.4s;
}
.cards a:hover {
  background: var(--white);
  color: var(--background);
  border: 2px solid var(--background);
}
.cards:hover {
  transform: rotate(-5deg);
}
.cards i {
  background: url(../assets/img/moi.png) no-repeat center/cover;
  border: 2px solid var(--white);
  width: 12em;
  height: 12em;
  border-radius: 50%;
}

/* Contact carousel design */

.contact-container {
  border: 2px solid var(--white);
  border-radius: 25px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  height: 30em;
  overflow: hidden;
}
.contact {
  width: 90%;
  height: 400%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.6s;
}
.slide {
  position: relative;
  width: 90%;
  height: 100%;
  padding: 0 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 1em;
  align-items: center;
}
.slide a {
  color: var(--white);
  width: 5em;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  padding: 0.5em;
  background: transparent;
  border: 2px solid var(--white);
  background: darkslategrey;
  border-radius: 15px;
  transition: all 0.4s;
}
.slide a:hover {
  background: var(--white);
  color: var(--background);
  border: 2px solid var(--background);
}
.slide i {
  width: 6em;
  height: 6em;
}
.email {
  background: linear-gradient(
    135deg,
    hsla(29, 92%, 70%, 1) 0%,
    hsla(0, 87%, 73%, 1) 100%
  );
}
.tel {
  background: linear-gradient(
    -135deg,
    rgba(251, 208, 124, 1) 0%,
    rgba(233, 233, 233, 1) 100%
  );
}
.github {
  background: linear-gradient(
    135deg,
    hsla(180, 8%, 7%, 1) 0%,
    hsla(0, 0%, 16%, 1) 100%
  );
}
.linkedin {
  background: linear-gradient(
    135deg,
    hsla(239, 100%, 67%, 1) 0%,
    hsla(187, 100%, 89%, 1) 100%
  );
}
.email i {
  background: url(../assets/img/icons/e-mail.png) no-repeat center/cover;
}
.tel i {
  background: url(../assets/img/icons/telephoner.png) no-repeat center/cover;
}
.github i {
  background: url(../assets/img/icons/github.png) no-repeat center/cover;
  filter: invert(1);
}
.linkedin i {
  background: url(../assets/img/icons/linkedin.png) no-repeat center/cover;
}
.slash {
  width: 10em;
  height: 3px;
  background: var(--white);
  border-radius: 5px;
}
.slide > * {
  position: relative;
  margin: 0;
}
.slide-toggle-container {
  width: 10%;
  height: 100%;
  border-left: 2px solid var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.slide-toggle {
  margin: 1em;
  width: 2em;
  height: 2em;
  background: url(../assets/img/icons/arrow.png) no-repeat center/cover;
  filter: invert(1);
  cursor: pointer;
}
.prev {
  transform: rotate(180deg);
}

/* Circles animation */

.circles {
  position: absolute;
  width: 35vw;
  height: 35vw;
  opacity: 0.1;
  border: 2px solid var(--yellow);
}
.circle {
  border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
  animation: strange_1 10s linear infinite;
}
.circle_2 {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: strange_2 14s linear infinite;
}
.circle_3 {
  border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
  animation: strange_3 10s linear infinite;
}

/* Responsive */

@media screen and (max-width: 950px) {
  #contact {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 100vh;
  }
  .cards {
    height: 60%;
    width: 90%;
    flex-flow: row wrap;
    gap: 0.8em;
    margin: 5%;
  }
  .cards i {
    background: url(../assets/img/C3828B55-9DD3-4D65-8817-7F9949B57486.JPG)
      no-repeat center/cover;
    border: 2px solid var(--white);
    width: 8em;
    height: 8em;
    border-radius: 50%;
  }
  .cards a {
    font-size: 2.2em;
  }
  .contact-container {
    width: 90%;
  }
  .slash {
    width: 35vw;
  }
  .slide {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
  }
  .slide a {
    width: 60%;
    font-size: 3em;
  }
  .slide i {
    width: 5em;
    height: 5em;
  }
  .slide-toggle-container {
    width: 16%;
  }
}
