#contact {
  width: 100%;
  height: 100vh;
}
.contact-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}
.instaCard {
  width: 20%;
  height: 60vh;
  border-radius: 25px;
  box-shadow: 0 0 20px #080808;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  backdrop-filter: brightness(1.1);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}
.profilPicture {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background: url(../assets/img/moi.png) no-repeat center/cover;
  box-shadow: 0 0 20px #080808;
}
button {
  width: 50%;
  height: 50px;
  border-radius: 15px;
  background: transparent;
  border: 2px solid var(--white);
  font-family: "Poppins-Light";
  color: var(--white);
  font-size: 1.2em;
  transition: 0.2s;
}
.contact-container a {
  text-decoration: none;
  color: var(--white);
  transition: 0.2s;
}
button:hover {
  cursor: pointer;
  background-color: var(--white);
}
button:hover a {
  color: var(--background);
}
.links {
  width: 20%;
  padding: 2em;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 2em;
  border-radius: 25px;
  box-shadow: 0 0 30px #080808;
  backdrop-filter: brightness(1.5);
}
.links a {
  font-size: 1.2em;
  font-family: "Poppins-Light";
  width: 100%;
  text-align: right;
}
.githubButton,
.linkedinButton,
.emailButton {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: brightness(1.5);
  border: none;
  border-radius: 25px;
  transition: 0.4s;
}
.githubButton:hover,
.linkedinButton:hover,
.emailButton:hover {
  background: var(--blue);
}
.githubButton:hover span,
.linkedinButton:hover span,
.emailButton:hover span {
  filter: none;
}
.githubButton:hover a,
.linkedinButton:hover a,
.emailButton:hover a {
  color: var(--background);
  padding-right: 1em;
}
.links span {
  width: 2em;
  height: 2em;
  filter: invert(0.75);
  transition: 0.2s;
}
.linkedin {
  background: url(../assets/img/icons/svg_icons/linkedin-round-svgrepo-com.svg)
    no-repeat center/contain;
}
.email {
  background: url(../assets/img/icons/svg_icons/email-svgrepo-com.svg) no-repeat
    center/contain;
}

/* Circle animation */

.blob {
  border: 2px solid var(--blue);
  position: absolute;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  opacity: 0.5;
  filter: blur(5px);
  z-index: -1;
  animation: rotate 10s linear infinite;
}
.lil_blob {
  height: 5vw;
  width: 5vw;
  margin-left: 9%;
  margin-top: 9%;
  border: 2px solid var(--blue);
  border-radius: 50%;
}
.blob_2 {
  border: 2px solid var(--blue);
  position: absolute;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  opacity: 0.5;
  filter: blur(5px);
  z-index: -1;
  animation: rotate_2 15s ease-in-out infinite;
}
.lil_blob_2 {
  height: 10vw;
  width: 10vw;
  border: 2px solid var(--blue);
  border-radius: 50%;
}

/* Responsive */

@media screen and (max-width: 950px) {
  .contact-container {
    flex-flow: column-reverse nowrap;
  }
  .links {
    width: 75%;
  }
  .instaCard {
    width: 75%;
    height: 25%;
  }
  .profilPicture {
    width: 6em;
    height: 6em;
  }
  .blob,
  .blob_2 {
    width: 60vw;
    height: 60vw;
  }
  .lil_blob {
    width: 10vw;
    height: 10vw;
  }
  .lil_blob_2 {
    width: 20vw;
    height: 20vw;
  }
}
