#experience {
  width: 100%;
  height: auto;
  padding: 2% 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* Style cards */

.card {
  width: 40vw;
  background: var(--background);
  border: 2px solid var(--grey);
  margin-top: 5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1.5em;
  border-radius: 15px;
  transition: 0.6s;
}
.card a {
  text-decoration: none;
  color: var(--white);
  transition: 0.4s;
}
.card:hover {
  box-shadow: 0 0 15px var(--grey);
  animation: shadow 2s linear infinite;
}
.card:hover a {
  color: var(--orange);
  text-decoration: underline;
}
.card:nth-child(3),
.card:nth-child(5) {
  margin-left: -30em;
}
.card:nth-child(3):hover,
.card:nth-child(5):hover {
  margin-left: -25em;
}
.card:nth-child(2),
.card:nth-child(4),
.card:nth-child(6) {
  margin-right: -30em;
}
.card:nth-child(2):hover,
.card:nth-child(4):hover,
.card:nth-child(6):hover {
  margin-right: -25em;
}
#experience img {
  width: 5vw;
  filter: invert(1) opacity(0.75);
  float: right;
}
.card div {
  width: 100%;
}
#experience h3 {
  font-size: 2vw;
  color: var(--orange);
}
#experience h4 {
  font-size: 1.5vw;
}
#experience p {
  font-size: 1vw;
}

/* Responsive */

@media screen and (max-width: 950px) {
  .card:nth-child(3),
  .card:nth-child(5) {
    margin-left: 0;
    width: 80%;
  }
  .card:nth-child(2),
  .card:nth-child(4),
  .card:nth-child(6) {
    margin-right: 0;
    width: 80%;
  }
  .card {
    width: 25em;
  }
  #experience h3 {
    font-size: 1.8em;
  }
  #experience h4 {
    font-size: 1.2em;
  }
  #experience p {
    font-size: 1em;
  }
}
