/* Imports */

@import "./normalize.css";
@import "./variables.css";
@import "./about.css";
@import "./experience.css";
@import "./skills.css";
@import "./projects.css";
@import "./contact.css";
@import "./animations.css";

@font-face {
  font-family: rantera;
  src: url(../assets/fonts/Rantera.otf);
  font-family: candara;
  src: url(../assets/fonts/CANDARA.TTF);
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}
/* cyrillic */
@font-face {
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/UqyVK80NJXN4zfRgbdfbo5pcV_cx.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/UqyVK80NJXN4zfRgbdfbo5BcV_cx.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
    U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/UqyVK80NJXN4zfRgbdfbo55cVw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

/* Cursor style */

#pointed {
  position: absolute;
  z-index: 20;
  width: 1em;
  height: 1em;
  background: var(--background);
  border: 2px solid var(--yellow);
  border-radius: 50%;
}

/* Home style */
body {
  width: 100vw;
  height: auto;
  background: var(--background);
  font-family: "Poiret One", cursive;
  font-weight: lighter;
  color: var(--white);
  cursor: none;
}
main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: auto;
}
#menu {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: space-around;
}
.bounce {
  position: absolute;
  height: 100%;
  width: 100%;
}
.bounce div {
  position: absolute;
  border-radius: 50%;
  opacity: 0.1;
  border: 2px solid var(--yellow);
}
.rebond_1 {
  width: 2.5vw;
  height: 2.5vw;
  top: 53em;
  left: 40%;
  transition: 0.6s;
  animation: bounce 20s infinite ease-in-out;
}
.rebond_2 {
  width: 45vw;
  height: 45vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rebond_3 {
  width: 20vw;
  height: 20vw;
  left: 55%;
  top: 0;
  animation: bounce_2 15s infinite ease-in-out;
}
h1 {
  font-size: 11vw;
  text-align: center;
  height: fit-content;
  margin: auto 2%;
  font-weight: lighter;
  width: 40%;
  color: var(--white);
  z-index: 1;
}
h1 span {
  margin-left: 1em;
}
h2 {
  width: 100%;
  height: fit-content;
  text-align: center;
  font-weight: bold;
  font-size: 4em;
  color: var(--yellow);
  margin: 0;
  padding: 0;
}
aside {
  text-align: end;
  width: 50%;
  height: 100%;
  z-index: 2;
}
aside nav {
  height: 100%;
}
aside ul {
  margin: 0;
  padding: 0 2em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 100%;
}
aside li {
  list-style-type: none;
}
aside a {
  font-size: 200%;
  text-decoration: none;
  color: var(--grey);
  transition: 0.4s ease;
}
aside a:hover {
  color: var(--white);
  font-size: 200%;
  margin-right: 1em;
  cursor: none;
}
.profilPic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 30vw;
  background: url(../assets/img/FullSizeRender.png) no-repeat center/cover;
  border-radius: 50%;
  border: 2px solid var(--darkBrown);
  box-shadow: var(--shadow);
}

/* Responsive */

@media screen and (max-width: 950px) {
  main {
    padding-bottom: 10em;
  }
  aside {
    align-self: flex-end;
    justify-self: flex-end;
    text-justify: end;
    text-align: end;
    width: 50%;
    height: 50%;
    z-index: 2;
  }
  li > a {
    background-color: #111414;
    border-radius: 50px;
  }
  h1,
  aside {
    width: 100%;
  }
  h2 {
    font-size: 8vw;
  }
}
