#projects {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  background: var(--white);
  border-bottom: 2px solid var(--orange);
}
#projects h2 {
  color: var(--orange);
}
.gallery-container {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column nowrap;
  overflow-y: hidden;
}
.secondContainer {
  height: 60vh;
  width: 100%;
  margin: 2% 0;
  display: flex;
  align-items: flex-start;
  overflow-y: hidden;
  border-radius: 15px;
}
.tech_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-evenly;
}
.html,
.css,
.js,
.react,
.node,
.discord {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}
.html {
  background: url(../assets/img/icons/html.png) no-repeat center/contain;
}
.css {
  background: url(../assets/img/icons/css-3.png) no-repeat center/contain;
}
.js {
  background: url(../assets/img/icons/js.png) no-repeat center/contain;
}
.react {
  background: url(../assets/img/icons/react.png) no-repeat center/contain;
}
.node {
  background: url(../assets/img/icons/nodejs.png) no-repeat center/contain;
}
.discord {
  background: url(../assets/img/icons/discordjs.png) no-repeat center/contain;
}
.snippet-container {
  height: 100%;
  width: 60%;
  cursor: pointer;
  margin-right: 2%;
  transition: cubic-bezier(0.79, 0.14, 0.15, 0.86) 0.8s;
}
.first-snippet-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: url(../assets/img/taxi.webp) no-repeat center/cover;
  display: flex;
  align-items: flex-end;
}
.second-snippet-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: url(../assets/img/robot.webp) no-repeat center/cover;
  display: flex;
  align-items: flex-end;
}
.third-snippet-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: url(../assets/img/tattoo.webp) no-repeat center/cover;
  display: flex;
  align-items: flex-end;
}
.first-snippet-img h3,
.second-snippet-img h3,
.third-snippet-img h3 {
  color: var(--white);
  font-weight: lighter;
  margin: 50px;
  font-size: 2vw;
}
.first-snippet-text,
.second-snippet-text,
.third-snippet-text {
  position: sticky;
  top: 0;
  width: 40%;
  height: 100%;
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
.secondContainer h2 {
  font-size: 2em;
  font-weight: bold;
}
#projects h4 {
  width: 50%;
  text-align: center;
  font-size: 1.8em;
  font-weight: 300;
}
#projects h4 span {
  color: var(--orange);
}
#projects h6 {
  font-size: 1em;
  font-weight: 300;
}
.snippet-container:hover {
  transform: translateY(-100%);
}
#projects a {
  text-decoration: none;
  font-size: 1.2em;
  color: var(--orange);
  transition: 0.4s;
}
#projects a:hover {
  transform: scale(1.05);
  border-bottom: 1px solid var(--orange);
}
.third-snippet-text a:hover {
  cursor: not-allowed;
}

/* #projects a {
  width: 6em;
  margin: 0;
  padding: 1em;
  background: var(--white);
  text-align: center;
  text-decoration: none;
  color: var(--background);
  font-size: 1em;
  transition: 0.4s;
  letter-spacing: 0.1em;
  font-family: candara;
  font-weight: bold;
  border-radius: 10px;
}
#projects a:hover {
  background: var(--yellow);
  color: var(--background);
}
#projects > article {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
} */

/* #projects .container {
  width: 80%;
  height: fit-content;
  z-index: 2;
}
#projects .carousel {
  border-radius: 15px;
  height: 80%;
  width: 100%;
  overflow: hidden;
}
#projects .slider {
  margin: 0;
  height: 100%;
  width: 400%;
  display: flex;
  transition: all 0.6s ease-in-out;
}
#projects .slider section {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
#projects .slider section img {
  width: 30vw;
}
.text-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 85%;
}
.text-container h3 {
  font-weight: bold;
  font-size: 3.5em;
  margin: 0;
}
.text-container h4 {
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
  color: var(--yellow);
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}
.controls:nth-child(1) {
  margin-left: 0;
}
.controls:nth-child(2) {
  margin-right: 0;
}
.controls .arrow {
  margin: 0 2%;
}
.controls .left {
  background: url(../assets/img/icons/left.png) no-repeat center/cover;
  filter: invert(1);
  height: 3em;
  width: 3em;
}
.controls .right {
  transform: rotate(180deg);
  background: url(../assets/img/icons/left.png) no-repeat center/cover;
  filter: invert(1);
  height: 3em;
  width: 3em;
} */

/* Eclipse style */

.eclipse {
  position: absolute;
  width: 35em;
  height: 35em;
  background: var(--background);
  border-radius: 50%;
}

.eclipse:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-bottom: 0 solid #ffffff05;
  box-shadow: 0 -10px 20px 20px #ffffff40 inset,
    0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
    0 -3px 2px var(--yellow) inset, 0 2px 0px var(--yellow),
    0 2px 3px var(--yellow), 0 5px 5px #ffffff90, 0 10px 15px #ffffff60,
    0 10px 20px 20px #ffffff40;
  filter: opacity(0.25) blur(5px);
  animation: 2s rotate linear infinite;
}

/* Responsive */

@media screen and (max-width: 950px) {
  #projects {
    flex-flow: column nowrap;
    width: 100%;
  }
  #projects .slider section {
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .text-container {
    width: 100%;
    height: 100%;
  }
}
