#projects {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
}
#projects .leftSide {
  width: 50%;
  height: 75%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
}
#projects .leftSide .mockup_picture_container {
  width: 300%;
  height: 65%;
  display: flex;
  flex-direction: row;
}
#projects .first_mockup,
#projects .second_mockup,
#projects .third_mockup {
  width: 33.33%;
  height: 100%;
  background-size: contain;
  background-position: center;
}
.first_mockup {
  background: url(../assets/img/baudic.png) no-repeat;
}
.second_mockup {
  background: url(../assets/img/tattoo_mockup.png) no-repeat;
}
.third_mockup {
  background: url(../assets/img/game_mockup.png) no-repeat;
}
#projects .mockup_description_container {
  display: flex;
  flex-direction: row;
  width: 300%;
  height: 30%;
}
.first_description,
.second_description,
.third_description {
  width: 33.33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
#projects h3 {
  font-size: 2vw;
  font-weight: lighter;
}
#projects .leftSide a {
  font-size: 25px;
  color: var(--grey);
  text-decoration: none;
  transition: 0.4s;
}
#projects .leftSide a:hover {
  transform: scale(1.05);
  color: var(--yellow);
}
#projects .rightSide {
  width: 40%;
  height: 75%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: column nowrap;
}
.first_project,
.second_project,
.third_project {
  height: 20%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--darkBrown);
  backdrop-filter: blur(10px) brightness(1.1);
  transition: 0.4s;
}
.first_project:hover,
.second_project:hover,
.third_project:hover {
  box-shadow: 0 0 10px var(--yellow);
  cursor: pointer;
  transform: translateX(-20px);
}

/* Circles animation */

.circle {
  position: absolute;
  border: 2px solid var(--yellow);
  width: 35vw;
  height: 35vw;
  border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
  opacity: 0.1;
  animation: strange_1 10s linear infinite;
  z-index: -1;
}
.circle_2 {
  position: absolute;
  border: 2px solid var(--yellow);
  width: 35vw;
  height: 35vw;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  opacity: 0.1;
  animation: strange_2 14s linear infinite;
  z-index: -1;
}
.circle_3 {
  position: absolute;
  border: 2px solid var(--yellow);
  width: 35vw;
  height: 35vw;
  border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
  opacity: 0.1;
  animation: strange_3 10s linear infinite;
  z-index: -1;
}
/* #projects a {
  width: 6em;
  margin: 0;
  padding: 1em;
  background: var(--white);
  text-align: center;
  text-decoration: none;
  color: var(--background);
  font-size: 1em;
  transition: 0.4s;
  letter-spacing: 0.1em;
  font-family: candara;
  font-weight: bold;
  border-radius: 10px;
}
#projects a:hover {
  background: var(--yellow);
  color: var(--background);
}
#projects > article {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
} */
#projects h2 {
  margin: 2% auto;
  z-index: 3;
}
/* #projects .container {
  width: 80%;
  height: fit-content;
  z-index: 2;
}
#projects .carousel {
  border-radius: 15px;
  height: 80%;
  width: 100%;
  overflow: hidden;
}
#projects .slider {
  margin: 0;
  height: 100%;
  width: 400%;
  display: flex;
  transition: all 0.6s ease-in-out;
}
#projects .slider section {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
#projects .slider section img {
  width: 30vw;
}
.text-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 85%;
}
.text-container h3 {
  font-weight: bold;
  font-size: 3.5em;
  margin: 0;
}
.text-container h4 {
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
  color: var(--yellow);
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}
.controls:nth-child(1) {
  margin-left: 0;
}
.controls:nth-child(2) {
  margin-right: 0;
}
.controls .arrow {
  margin: 0 2%;
}
.controls .left {
  background: url(../assets/img/icons/left.png) no-repeat center/cover;
  filter: invert(1);
  height: 3em;
  width: 3em;
}
.controls .right {
  transform: rotate(180deg);
  background: url(../assets/img/icons/left.png) no-repeat center/cover;
  filter: invert(1);
  height: 3em;
  width: 3em;
} */

/* Eclipse style */

.eclipse {
  position: absolute;
  width: 35em;
  height: 35em;
  background: var(--background);
  border-radius: 50%;
}

.eclipse:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-bottom: 0 solid #ffffff05;
  box-shadow: 0 -10px 20px 20px #ffffff40 inset,
    0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
    0 -3px 2px var(--yellow) inset, 0 2px 0px var(--yellow),
    0 2px 3px var(--yellow), 0 5px 5px #ffffff90, 0 10px 15px #ffffff60,
    0 10px 20px 20px #ffffff40;
  filter: opacity(0.25) blur(5px);
  animation: 2s rotate linear infinite;
}

/* Responsive */

@media screen and (max-width: 950px) {
  #projects {
    flex-flow: column nowrap;
    width: 100%;
  }
  #projects .slider section {
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .text-container {
    width: 100%;
    height: 100%;
  }
}
