#projects {
  width: 100%;
  height: auto;
  margin: 2em 0;
}
#projects .gallery-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: hidden;
}
.secondContainer {
  height: 60vh;
  width: 95%;
  display: flex;
  align-items: flex-start;
  overflow-y: hidden;
  margin: 5% 0;
}
#tech_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-evenly;
  transition: cubic-bezier(0.79, 0.14, 0.15, 0.86) 0.8s;
  background: linear-gradient(
    180deg,
    rgba(18, 18, 18, 0) 0%,
    rgba(18, 18, 18, 1) 100%
  );

  border-radius: 15px;
}
#projects .html,
#projects .css,
#projects .js,
#projects .react,
#projects .node,
#projects .discord {
  width: 4em;
  height: 4em;
}
.mongo {
  width: 4em;
  height: 4em;
}
.html {
  background: url(../assets/img/icons/html.png) no-repeat center/contain;
}
.css {
  background: url(../assets/img/icons/css-3.png) no-repeat center/contain;
}
.js {
  background: url(../assets/img/icons/js.png) no-repeat center/contain;
  border-radius: 50%;
}
.react {
  background: url(../assets/img/icons/react.png) no-repeat center/contain;
}
.node {
  background: url(../assets/img/icons/nodejs.png) no-repeat center/contain;
}
.discord {
  background: url(../assets/img/icons/discordjs.png) no-repeat center/contain;
}
.mongo {
  background: url(../assets/img/icons/mongo.png) no-repeat center/contain;
}
.snippet-container {
  position: relative;
  height: 100%;
  width: 60%;
  cursor: pointer;
}
.first-snippet-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: url(../assets/img/taxi.webp) no-repeat center/cover;
  display: flex;
  align-items: flex-end;
}
.second-snippet-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: url(../assets/img/robot.webp) no-repeat center/cover;
  display: flex;
  align-items: flex-end;
}
.third-snippet-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: url(../assets/img/tattoo.webp) no-repeat center/cover;
  display: flex;
  align-items: flex-end;
}
#projects h3 {
  color: var(--white);
  font-size: 2vw;
  margin: 0;
  padding: 0;
}
.first-snippet-text,
.second-snippet-text,
.third-snippet-text {
  width: 40%;
  height: 100%;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
#projects h4 {
  width: 75%;
  text-align: justify;
  font-size: 1.8em;
  font-weight: 300;
}
#projects h4 span {
  color: var(--blue);
  font-family: "Poppins-Light";
}
#projects h6 {
  font-size: 1em;
  font-weight: 300;
}
.snippet-container:hover #tech_container {
  transform: translateY(-100%);
}
#projects a {
  text-decoration: none;
  font-size: 1.5em;
  color: var(--blue);
  font-family: "Poppins-Light";
  transition: 0.4s;
}
#projects a:hover {
  transform: scale(1.05);
  border-bottom: 1px solid var(--blue);
}
.third-snippet-text a:hover {
  cursor: not-allowed;
}

/* Responsive */

@media screen and (max-width: 950px) {
  #projects {
    flex-flow: column nowrap;
    width: 100%;
  }
  #projects .secondContainer {
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  #tech_container {
    position: absolute;
    top: 0;
  }
  .snippet-container:hover #tech_container {
    transform: translate(0);
  }
  .html,
  .css,
  .js,
  .react,
  .node,
  .discord {
    width: 2em;
    height: 2em;
  }
  .first-snippet-text,
  .second-snippet-text,
  .third-snippet-text {
    width: 100%;
  }
  .snippet-container {
    flex-flow: row;
    width: 75%;
    height: 50%;
  }
  #projects h4 {
    text-align: justify;
    width: 75%;
    font-size: 1.5em;
  }
}
